// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import admin posts index scss
@import '/resources/sass/admin/posts/index.scss';


// Reset
img {
    max-width: 100%;
    height: 100%;
    display: block;
}

// .dropdown-item hover
.dropdown-item:hover {
    background-color: #343a40 !important;
} 

// Nav link
.nav-link {
    font-size: 18px;

    &:hover {
        color: white;
        transition: color 300ms linear;
    }
}
// ----------------------------------


// Main
main {
    padding-top: 100px;
    padding-bottom: 50px;
}

