// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import admin posts index scss
@import '/resources/sass/admin/posts/index.scss';


// Reset
img {
    max-width: 100%;
    height: 100%;
    display: block;
}
// ----------------------------------

main {
    margin-top: 100px;
}

